.choice {
  margin-top: 60px;
  padding-bottom: 80px;

  @media (max-width: $breakPoint992) {
    margin-top: 40px;
  }

  @media (max-width: $breakPoint768) {
    margin-top: 20px;
  }

  @media (max-width: $breakPoint480) {
    margin-top: 0px;
  }

  // .choice__title
  &__title {
  }

  // .choice__cards
  &__cards {
    margin-top: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    @media (max-width: 1250px) {
      flex-wrap: wrap;
      gap: 30px;
    }

    @media (max-width: $breakPoint992) {
      margin-top: 40px;
    }
  
    @media (max-width: $breakPoint768) {
      margin-top: 20px;
    }
  }

  .card {
    width: 480px;
    min-height: 260px;
    position: relative;
    border-radius: 5px;
    text-decoration: none;
    color: black;

    @media(max-width: 1250px) {
      width: 400px;
    }

    @media(max-width: 992px) {
      width: 480px;
    }

    &:nth-child(1) {
      background: url("../../images/choice-img1.png") no-repeat;
      background-size: cover;
      background-position: center;
    }

    &:nth-child(2) {
      background: url("../../images/Rectangle394.png") no-repeat;
      background-size: cover;
      background-position: center;
    }

    &:nth-child(3) {
      background: url("../../images/Rectangle393.png") no-repeat;
      background-size: cover;
      background-position: center;
    }

    // .card__header
    &__header {
      margin-top: 16px;
      margin-left: 25px;
    }

    // .card__title
    &__title {
      font-weight: 500;
      font-size: 30px;
      line-height: 28px;

      @media (max-width: $breakPoint992) {
        font-size: 23px;
        line-height: 21px;
      }

      @media (max-width: $breakPoint480) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    // .card__subtitle
    &__subtitle {
      margin-top: 11px;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      @media(max-width: $breakPoint768) {
        display: none;
      }
    }

    // .card__footer
    &__footer {
      margin-top: 104px;
      margin-left: 25px;
    }

    // .card__footer-text
    &__footer-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.01em;
    }

    // .card__icons
    &__icons {
      margin-top: 10px;
    }

    // .card__icon
    &__icon {
    }
  }
}
