// Container & Breakpoints
@use "sass:math";

$breakPoint1440: 1439.98px;
$breakPoint1250: 1249.98px;
$breakPoint992: 991.98px;
$breakPoint768: 767.98px;
$breakPoint480: 479.98px;

// Burger Menu
$burgerBreakpoint: $breakPoint992;
$burgerActiveColor: 'white';

// Colors
$redColor: #BF0830;